@import '../../../styles/colors.css';

.recipe-list {
  padding: 0.5rem;
  border-right: 0.0625rem solid color-auth-form-text-shadow;
}
@media (max-width: 768px) {
  .recipe-list {
    border-bottom: 0.0625rem solid color-auth-form-text-shadow;
    border-right: none;
  }
}
