<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm" (ngSubmit)="onUpsertIngredient(form)"> 
      <label>Add Ingredient</label>
      <div class="row add-ingredient">
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input class="form-control" id="amount" type="number" autocomplete="off" name="amount" required="required" pattern="^[0-9.]+[0-9]*$" ngModel="ngModel" min="1"/>
        </div>
        <div class="col-sm-2 form-group">
          <label for="unit">Unit</label>
          <select class="form-control" id="unit" autocomplete="off" name="unit" required="required" ngModel="ngModel">
            <option *ngFor="let unit of unitOfMeasure" [value]="unit">{{ unit }}</option>
          </select>
        </div>
        <div class="col-sm-5 form-group name">
          <label for="name">Name</label>
          <input class="form-control" id="name" type="text" autocomplete="off" name="name" required="required" ngModel="ngModel" placeholder="Enter ingredient..."/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!form.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>